.Book {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  width: 175px;
  height: 300px;
  overflow: hidden;
  background-color: rgba(253, 255, 242, .4);
  box-shadow: 2px 5px 2px lightgrey;
}
.book-img {
  display: block;
  z-index: -1
}
.add-svg {
  height: 30px;
  float: right;
  background-color: rgba(183,159,25,1);
  border-radius: 15px;
  margin-top: -20px;
  position: relative;
}
.book-title {
  font-size: medium;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
}
.book-author {
  font-size: small;
  margin: 0;
  padding: 1px;
}



.move-menu {
  background-color: rgba(0,0,0,.4);
  color: white;
  height: 281px;
  width: 156px;
  margin-top: -215px;
  margin-left: -10px;
  position: absolute;
  display: block;
  padding: 20px;
}
.move-menu-text {
  display: inline-block;
  padding-top: 30px;
}
.add-to-text {
  display: inline-block;
  padding-bottom: 10px;
  font-size: medium;
}
.add-to-link {
  padding-left: 5px;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 11pt;
  margin: 0;
  text-align: left;
  width: 150px;
}
.active {
  background-color: rgba(183, 159, 25, .8);
}
.close-button {
  float: right;
  margin-top: 30px;
}